
#flipbook .shadow,
#flipbook.shadow{
  -webkit-box-shadow: 0 4px 10px #666;
  -moz-box-shadow: 0 4px 10px #666;
  -ms-box-shadow: 0 4px 10px #666;
  -o-box-shadow: 0 4px 10px #666;
  box-shadow: 0 4px 10px #666;
}
/*body{
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}*/
#flipbook{
	margin: auto;
}
#flipbook .page .sheet{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 25px;
	font-weight: bold;
	font-variant: small-caps;
}